:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(217, 45%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--light-gray);

}

h1 {
    color: var(--dark-blue);
    font-size: 2.2rem;
    padding-bottom: 1.6rem;

}

p {
    color: var(--grayish-blue);
    font-size: 1.5rem;
    padding-bottom: 4rem;

}


.section {
    height: calc(100vh - 1.44rem);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* Main container */
.main-container {

    background: var(--white);
    border-radius: 2.1rem;
    width: 32rem;
    /* height: 50rem; */

    text-align: center;

}

.main-content {
    padding: 0 3.5rem;
}

/* Image */
.qr-code img {
    width: 28.8rem;
    height: 28.8rem;
    border-radius: 1.1rem;
    margin: 1.6rem 1.6rem 2.4rem 1.6rem;

}

/* Footer */
.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Media Query */
/*  Mobile: 375px - Desktop: 1440px */