:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(217, 45%, 22%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    color: var(--dark-blue);
    font-size: calc(22rem/16);
    padding-bottom: calc(16rem/16);

}

p {
    color: var(--grayish-blue);
    font-size: calc(15rem/16);
    padding-bottom: calc(40rem/16);

}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--light-gray);
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

/* Main container */
.main-container {

    background: var(--white);
    border-radius: calc(21rem/16);
    width: calc(320rem/16);
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding: 0 calc(35rem/16);
}

/* Image */
.qr-code img {
    width: calc(288rem/16);
    height: calc(288rem/16);
    border-radius: calc(11rem/16);
    margin: calc(16rem/16) calc(16rem/16) calc(24rem/16) calc(16rem/16);
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    padding: calc(10rem/16);
}

.attribution {
    font-size: calc(11rem/16);
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Query */


@media (max-height: 375px) and (orientation: landscape) {
    body {
        min-height: 100vw;
        justify-content: space-around;
    }

    .footer {
        position: relative;
    }
}